@page "/hotel-room/create"
@page "/hotel-room/edit/{Id:int}"

@using Domain
@using Application.Repository.IRepository
@using HiddenVilla.Server.Service.IService

@inject IHotelRoomRepository<HotelRoomDto> _hotelRoomHotelRoomRepository
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@inject IFileUpload _fileUpload

<div class="row t-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title Hotel Room</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="HotelRoomModel" OnValidSubmit="HandleHotelRoomUpsert">
                    <DataAnnotationsValidator/>
                    @*<ValidationSummary/>*@
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="HotelRoomModel.Name" class="form-control"></InputText>
                        <ValidationMessage For="() => HotelRoomModel.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Occupancy</label>
                        <InputNumber @bind-Value="HotelRoomModel.Occupancy" class="form-control"></InputNumber>
                        <ValidationMessage For="() => HotelRoomModel.Occupancy"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Rate</label>
                        <InputNumber @bind-Value="HotelRoomModel.RegularRate" class="form-control"></InputNumber>
                        <ValidationMessage For="() => HotelRoomModel.RegularRate"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Sq ft.</label>
                        <InputText @bind-Value="HotelRoomModel.SqFt" class="form-control"></InputText>
                        <ValidationMessage For="() => HotelRoomModel.SqFt"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <InputTextArea @bind-Value="HotelRoomModel.Details" class="form-control"></InputTextArea>
                        <ValidationMessage For="() => HotelRoomModel.Details"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">
                            @if (HotelRoomModel.ImageUrls is {Count: > 0 })
                            {
                                foreach (var imageUrl in HotelRoomModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="room-image" style="background: url('@imageUrl') 50% 50%;">
                                            <span class="room-image-title">@(HotelRoomModel.ImageUrls.IndexOf(imageUrl)+1)</span>
                                        </div>
                                        <button type="button" class="btn btn-outline-danger btn-block mt-4">
                                            Delete
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">@Title Room</button>
                        <NavLink href="/hotel-room" class="btn btn-secondary">Return</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    
    private HotelRoomDto HotelRoomModel { get; set; } = new ();
    private string Title { get; set; } = "Create";
    
    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            Title = "Update";
            HotelRoomModel = await _hotelRoomHotelRoomRepository.Get(Id.Value);
        }
        else HotelRoomModel = new HotelRoomDto();
    }

    private async Task HandleHotelRoomUpsert()
    {
        try
        {
            if (await _hotelRoomHotelRoomRepository.IsUnique(HotelRoomModel.Name, HotelRoomModel.Id) != null)
            {
                await _jsRuntime.ToastrFailure("Room name already exists");
                return;
            }
            
            if (HotelRoomModel.Id != 0) await _hotelRoomHotelRoomRepository.Update(HotelRoomModel.Id, HotelRoomModel);
            else await _hotelRoomHotelRoomRepository.Create(HotelRoomModel);

            await _jsRuntime.ToastrSuccess($"Hotel Room {Title}d Successfully");

            _navigationManager.NavigateTo("hotel-room");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        try
        {
            var images = new List<string>();
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" || fileInfo.Extension.ToLower() == ".png" ||
                        fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        var uploadedImagePath = await _fileUpload.UploadFile(file);
                        images.Add(uploadedImagePath);
                    }
                    else
                        await _jsRuntime.ToastrFailure("Please select .jpg/.jpeg/.png file only");
                }

                if (images.Any())
                {
                    if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Any())
                        HotelRoomModel.ImageUrls.AddRange(images);
                    else
                    {
                        HotelRoomModel.ImageUrls = new List<string>();
                        HotelRoomModel.ImageUrls.AddRange(images);
                    }
                }
                else
                    await _jsRuntime.ToastrFailure("Image upload failed");
            }
        }
        catch (Exception ex)
        {
            await _jsRuntime.ToastrFailure(ex.Message);
        }
    }
}