@page "/demohotel"
@using Model;

<h2>We will display hotel rooms and amenities here!</h2>

<div class="border p-2 mt-2" style="background-color: azure;">

    <h2 class="text-info">
    RoomList [USING COMPONENT]
    </h2>

    <div class="col-12">
    
        <h4 class="text-info"> Hotel Rooms</h4>
        <span>Rooms Selected - @SelectedRooms</span>
        <div class="row container">
            @foreach (var room in RoomsList)
            {
                <IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChanged" Room=@room />
            }
        </div>

        <h4 class="text-info">
            Hotel Amenities
        </h4>
        <div class="row container">
            @foreach (var amenity in AmenitiesList)
            {
                <IndividualAmenity OnAmenitySelection="RoomSelectedAmenityChanged" Amenity=@amenity />
            }
        </div>

    </div>

    Selected Amenity: @(SelectedAmenity?.Name)
    
</div>

@code{
    public int SelectedRooms {get; set;} = 0;
    public BlazorAmenity SelectedAmenity { get; set; } = null;
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenity> AmenitiesList = new List<BlazorAmenity>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite One Bed Room",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp
                {
                    Id = 1, Name = "Sq Ft", Value = "330"
                },
                new BlazorRoomProp
                {
                    Id = 2, Name = "Ocuupancy", Value = "4"
                }
            }
        });
        RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Villa Suite Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp
                {
                    Id = 1, Name = "Sq Ft", Value = "150"
                },
                new BlazorRoomProp
                {
                    Id = 2, Name = "Ocuupancy", Value = "6"
                }
            }
        });

        AmenitiesList.Add(new BlazorAmenity{
            Id = 1,
            Name = "Gym",
            Description = "24 x 7 gym room"
        });
        AmenitiesList.Add(new BlazorAmenity{
            Id = 2,
            Name = "free breakfast",
            Description = "enjoy free breakfast"
        });
        AmenitiesList.Add(new BlazorAmenity{
            Id = 3,
            Name = "swiming pool",
            Description = "opem from 6 to 10"
        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
            SelectedRooms++;
        else
            SelectedRooms--;
    }

    protected void RoomSelectedAmenityChanged(BlazorAmenity amenity)
    {
        SelectedAmenity = amenity;
    }
}
